.header {
    top: var(--globalNavHeight) !important;
}

.summary {
    flex-wrap: nowrap !important;

    :global(.content-header__path) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        :global(.dropdown-link) {
            padding-right: 0 !important;

            :global(&::after) {
                display: none;
            }
        }

        :global(.dropdown-box) {
            display: none;
        }
    }
}